.clearListDecoration {
    list-style-type: none;

}


.custom__listItem {
    margin: 0.25em 0 0 0.25em;
    padding: 0.25em 0 0.25em 0.5em;
    border-radius: 5px;
}

.custom__listItem:hover {
    background-color: #282828;
}

.custom__accordion {
    color: #fff;
    background-color: #292b31;
}
.custom__accordion_button:not(.collapsed) {
    color: #fff;
    background-color: #292b31;
}
.custom__accordion_button {
    color: #fff;
}
.color_black {
    color: black;
}
.noOverFlowText {
    overflow: hidden;
      text-overflow: ellipsis;
    white-space: nowrap;
}
